datasets==2.4.0
seqeval==1.2.2
transformers==4.21.0
qwikidata~=0.4.2
requests~=2.28.2
beautifulsoup4~=4.11.2
translate
spacy
nlpaug
nltk~=3.8.1
emoji~=2.2.0
pandas~=1.5.3
numpy~=1.24.2
scikit-learn~=1.2.1
gensim
BackTranslation